@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: rgb(251 207 232);
	--dark-primary-color: var(--secondary-color);
	--secondary-color: rgb(17 24 39);
	--dark-secondary-color: var(--primary-color);
	--background-color: var(--primary-color);
	--dark-background-color: var(--dark-primary-color);
	--text-color: rgb(55 65 81);
	--dark-text-color: rgb(255 255 255);
	--button-background-color: rgb(253 242 248);
	--dark-button-background-color: rgb(55 65 81);
	--correct-color: rgb(34 197 94);
	--dark-correct-color: rgb(134 239 172);
	--incorrect-color: rgb(239 68 68);
}

.font-striking {
	font-family: 'Bangers', cursive;
}

.large-text {
	@apply text-3xl;
}

body {
	@apply text-text-color dark:text-dark-text-color bg-background-color dark:bg-dark-background-color;
}

nav {
	a {
		@apply bg-button-background-color dark:bg-dark-button-background-color 
			text-2xl py-1 px-2 mr-1 rounded-lg shadow-md;
	}
}

.btn {
	@apply bg-button-background-color dark:bg-dark-button-background-color
		py-1 px-2 rounded-lg shadow-md border-2 border-transparent;

	&:disabled {
		@apply text-pink-200 dark:text-gray-500 bg-pink-100 dark:bg-gray-800;
	}

	&.correct {
		@apply border-correct-color dark:border-dark-correct-color
			text-correct-color dark:text-dark-correct-color !important;
	}

	&.incorrect {
		@apply border-incorrect-color text-incorrect-color !important;
	}
}

.text-input {
	@apply bg-button-background-color dark:bg-dark-button-background-color;
}
